{% extends 'base.html' %}

{% block title %}

Lista de Clientes - {{ block.super }}

{% endblock title %}

{% block body %}

<br />
<a href="{% url 'alunos:adicionar_aluno' %}">Cadastro de novo cliente</a>
<br />
<br />
<b>Lista de Clientes</b></h5>
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Data de nascimento</th>
            <th>Endereco</th>
            <th>Telefone</th>
            <th>E-mail</th>
            <th>Genero</th>
            <th>Meta</th>
            <th>Fichas medicas</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for aluno in alunos %}
        <tr>
            <td>{{ aluno.id }}</td>
            <td>{{ aluno.nome }}</td>
            <td>{{ aluno.sobrenome }}</td>
            <td>{{ aluno.data_nascimento }}</td>
            <td>{{ aluno.endereco }}</td>
            <td>{{ aluno.telefone }}</td>
            <td>{{ aluno.email }}</td>
            <td>{{ aluno.genero }}</td>
            <td>{{ aluno.meta }}</td>
            <td>
                <ul>
                    {% for fichamedica in aluno.fichamedica.all %}
                    <li>{{ fichamedica.nome }}</li>
                    {% empty %}
                    <li>Sem Fichas medicas</li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <a href="{% url 'alunos:editar_aluno' aluno.id %}">Editar</a>
            </td>
            <td>
                <a href="{% url 'alunos:deletar_aluno' aluno.id %}">Deletar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock body %}