{% extends 'base.html' %}

{% block title %}

Lista de Produtos - {{ block.super }}

{% endblock title %}

{% block body %}

<br />
<a href="{% url 'exercicios:adicionar_exercicio' %}">Cadastro de novo exercicio</a>
<br />
<br />
<b>Lista de Exercicios</b>
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Ativo</th>
            <th>Foto</th>
            <th>Grupo Muscular</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for exercicio in exercicios %}
        <tr>
            <td>{{ exercicio.id }}</th>
            <td>{{ exercicio.nome }}</td>
            <td>{{ exercicio.descricao }}</td>
            <td>
                {% if exercicio.esta_ativo == True %}
                Ativo
                {% endif %}
                {% if exercicio.esta_ativo == False %}
                Inativo
                {% endif %}
            </td>
            <td>
                <img src="{{ exercicio.foto.url }}" width="80">
            </td>
            <td>{{ exercicio.grupomuscular }}</td>
            <td>
                <a href="{% url 'exercicios:editar_exercicio' exercicio.id %}">Editar</a>
            </td>
            <td>
                <a href="{% url 'exercicios:deletar_exercicio' exercicio.id %}">Deletar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock body %}