{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/arquivo_com_estilos.css' %}">
    <title>{% block title %}Nome do meu App{% endblock title %}</title>
</head>

<body class="core_body">
    <form action="{% url 'alunos:pesquisar_alunos' %}" method="GET">
        <input name="query" type="text" placeholder="Sobrenome do aluno" aria-label="Buscar">
        <button type="submit">Buscar</button>
    </form>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a href="{% url 'core:home' %}"><img src="{% static 'img/menu.png' %}" width="200" height="60" /></a>
        <br />

        {% if user.is_authenticated %}
        <div class="collapse navbar-collapse" id="navbarsExample05">
            <a href="#"><button>{{ user.get_full_name|default:user.username }}</button></a>
            <br />
            <br />



            <!-- LISTA -->
            <a href="{% url 'gruposmusculares:listar_gruposmusculares' %}"><button onclick="mudarCor()">Grupos
                    Musculares</button></a>
            <a href="{% url 'exercicios:listar_exercicios' %}"><button onclick="mudarCor()">Exercicios</button></a>
            <a href="{% url 'fichasmedicas:listar_fichasmedicas' %}"><button onclick="mudarCor()">Fichas
                    Medicas</button></a>
            <a href="{% url 'treinadores:listar_treinadores' %}"><button onclick="mudarCor()">Treinadores</button></a>
            <a href="{% url 'alunos:listar_alunos' %}"><button onclick="mudarCor()">Alunos</button></a>
            <a href="{% url 'fichastreinos:listar_fichastreinos' %}"><button onclick="mudarCor()">Fichas de
                    Treinos</button></a>
            <a href="{% url 'fichastreinos:lista_treinos_exercicios' %}"><button onclick="mudarCor()">Montar
                    Treinos</button></a>
            <a href="{% url 'categoriasalimentos:listar_categoriasalimentos' %}"><button onclick="mudarCor()">Categorias
                    de
                    Alimentos</button></a>
            <a href="{% url 'alimentos:listar_alimentos' %}"><button onclick="mudarCor()">Alimentos</button></a>
            <a href="{% url 'nutricionistas:listar_nutricionistas' %}"><button
                    onclick="mudarCor()">Nutricionistas</button></a>
            <a href="{% url 'planosalimentares:listar_planosalimentares' %}"><button onclick="mudarCor()">Planos
                    Alimentares</button></a>
            <a href="{% url 'planosalimentares:lista_refeicoes_alimentos' %}"><button onclick="mudarCor()">Montar Plano
                    Alimentar</button></a>

            <a href="{% url 'contas:usuario_alterar_informacoes' user.username %}"><button>Conta</button></a>
            <a href="{% url 'contas:usuario_alterar_senha' %}"><button>Trocar senha</button></a>
            <a href="{% url 'contas:usuario_logout' %}"><button>Sair</button></a>
            <br />

            <br />
        </div> {% endif %}
    </nav>

    {% block body %}

    {% endblock body %}

    <script src="{% static 'js/arquivo_com_javascript.js' %}"></script>
</body>

</html>